@media screen and (min-width:768px) {
    .logo {
        font-size: 35px;
    }

    .nav-logo img {
        width: 65px;
        height: 30px;

    }

    .nav-container {
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
    }

    .nav-items {
        flex-direction: row;
        gap: 20px;
    }

    nav {
        margin-top: 0px;
        padding: 10px 0px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }


    .banner-image {
        width: 80%;
    }

    .banner-content {
        width: 80%;
        padding: 50px 30px;
    }
}

@media screen and (min-width:1024px) {
    .nav-logo img {
        width: 85px;
        height: 40px;
    }

    .logo {
        font-size: 45px;
    }

    .nav-container {

        gap: 30px;
    }

    .nav-items {

        gap: 30px;
    }

    .header-banner-container {
        flex-direction: row;
        height: 500px;
        margin: 0;
    }

    .header-banner {
        margin-top: 0;
        padding: 0;
    }

    .banner-content {
        height: 100%;
        width: 50%;
        background-size: 100% 100%;
    }

    .banner-image {
        height: 100%;
        width: 50%;
        padding: 0;
        object-fit: fill;
    }

    .banner-image img {
        height: 100%;
    }

    .banner-header {
        font-size: 38px;
    }

    .banner-items p {
        font-size: 60px;
    }

}

@media screen and (min-width:1440px) {

    /* .header-banner{
        display: flex;
        justify-content: center;
    } */
    .banner-header {
        font-size: 48px;
    }

    .banner-items p {
        font-size: 70px;
    }
}

@media screen and (min-width:1920px) {
    .header-banner {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .header-banner-container {
        width: 1920px;
    }
}