@media screen and (min-width:768px) {
    .logo {
        font-size: 35px;
    }

    .nav-logo img {
        width: 65px;
        height: 30px;

    }

    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
        gap: 0px;
    }

    .nav-items {
        flex-direction: row;
        gap: 20px;
    }

    nav {
        margin-top: 0px;
        padding: 10px 0px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }

    /* header banner */

    .banner-image {
        width: 80%;
    }

    .banner-content {
        width: 80%;
        padding: 50px 30px;
        /* padding: 50px 30px 50px 150px;
        justify-content: start; */
    }


    .gamer-container {
        padding: 20px 120px;
    }



  
    /* game video */
    .card {
        width: 300px;
    }
    .card img{
        height: 350px;
    }
    .game-video-items{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    /* play section */
    .play-image div {
        width: 500px;
    }
    .small {
        width: 230px;
        height: 280px;
    }
    .play-online-container{
        margin-top: 650px;
    }


    /* tag */
    .tag-container{
        margin-top: 600px;
    }
}

@media screen and (min-width:1024px) {
    .btn{
        padding: 12px 35px;
        font-size: 18px;
    }
    .nav-logo img {
        width: 85px;
        height: 40px;
    }

    .logo {
        font-size: 45px;
    }

    .nav-container {
        padding: 5px 100px;
        gap: 30px;
    }

    .nav-items {
        gap: 30px;
    }
    .nav-items a {
        font-size: 20px;
    }

    /* Header banner */
    .header-banner-container {
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        margin: 0;
    }

    .header-banner {
        margin-top: 0;
        padding: 0;
    }

    .banner-content {
        height: 100%;
        width: 50%;
        background-size: 100% 100%;
    }

    .banner-image {
        height: 100%;
        width: 50%;
        padding: 0;
        object-fit: fill;

    }

    .banner-image img {
        height: 100%;

    }

    .banner-header {
        font-size: 38px;
    }

    .banner-items p {
        font-size: 60px;
    }

    .gamer-container {
        flex-direction: row;
        height: 500px;
        justify-content: space-between;
        padding: 0px 140px;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }

    .gamer-content {
        text-align: right;
        width: 50%;
    }

    .gamer-image {
        width: 50%;
    }


    /* game video */
    .card {
        width: 290px;
    }
    .card img{
        height: 340px;
    }

/* play */
    .play-container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 170px;
        padding: 0px 140px;
    }
    .play-content{
        text-align: right;
        margin-right: 50px;
    }
    .small {
        width: 150px;
        height: 170px;
    }
    .play-image div {
        width: 300px;
        transform: translate(-50%,-50%);
    }
    .play-online-container{
        flex-direction: row-reverse;
        margin-top: 250px;
        
    }
    .play-online-content{
        text-align: left;
    }
    .tag-container{
        margin-top: 200px;
        display: flex;
        flex: 1 1 1 1 1;
        align-items: center;
        padding: 0px 100px;
        row-gap: 50px;
    }
    .tag-content img{
        width: 50px;
        height: 50px;
    }
    .tag-content p{
        font-weight: 700;
        margin-left: 5px;
        color: var(--titleColor);
        font-size: 18px;
    }

    /* footer */
    .footer-logo{
        font-size: 45px;
    }
    .footer-title img{
        width: 60px;
    }
    .footer-social{
        justify-content: center;
    }
    .footer-social svg{
        width: 40px;
        height: 40px;
       }
       .privacy,.footer-link{
        
        gap: 40px;
        justify-content: center;
       
    }

}



@media screen and (min-width:1440px) {

    .banner-header {
        font-size: 48px;
    }

    .banner-items p {
        font-size: 70px;
    }

    /* .gamer-container{
        padding: 0px 200px;
    } */

    /* game video */
    .game-video{
        margin-top: 80px;
    }
    .card {
        width: 290px;
    }
    .card img{
        height: 340px;
    }

    .play-image div {
       
        width: 450px;
        
    }
    .small {
        width: 220px;
        height: 270px;
     
    }
    .play-container{
        margin-top: 200px;
    }
    .play-title{
        font-size: 50px;
    }
    .play-online-container{
        margin-top: 400px;
    }

    .tag-container{
        margin-top: 300px;
        padding: 0 240px;
    }
    .privacy,.footer-link{
        
        gap: 50px;
        justify-content: center;
       
    }

}

@media screen and (min-width:1920px) {
    .header-banner {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .header-banner-container {
        width: 1920px;
    }

    .gamer-container,.play-container {
        padding: 0px 200px;
    }
    

    .card {
        width: 340px;
    }
    .card img{
        height: 400px;
    }

    .tag-container{
        padding: 0px 400px;
    }
}