* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --titleColor: #0B0223;
    --describtionColor: #534C64;
    --navitemColor: #3C354F;
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.logo {
    color: var(--titleColor);
    font-weight: 700;
    font-size: 45px;
}

.gradient-text {


    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 10px 30px;
    border-radius: 48px;
    border: 0;
    font-weight: 600;
    /* font-size: 20px; */
    color: white;
    cursor: pointer;

}


/* Header Related */
/* nav */
nav {
    margin-top: 50px;

}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 85px;
    height: 40px;
    /* margin: 30px 10px 0 0; */
}

.nav-items a {
    text-decoration: none;
    font-weight: 600;
    color: var(--navitemColor);
    transition: color 0.3s ease-in-out;
}
.nav-items a:hover {
    color: #F948B2;
}

.nav-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}


.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-social {
    width: 230px;
    height: 40px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    color: var(--navitemColor);
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nav-social img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/*header banner */

.header-banner-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;

}

.header-banner {
    /* margin-top: 50px; */
    margin-top: 30px;
    width: 100%;
    padding: 20px;
}

.banner-image {
    width: 90%;
    padding: 20px;
}

.banner-image img {
    width: 100%;
    object-fit: contain;
}

.banner-content {
    width: 90%;
    background-image: url("../Assests/images/headerBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-header {
    color: var(--titleColor);
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-items p {
    font-size: 50px;
    font-weight: 800;
}

.banner-items ul {
    list-style: none;
}

.banner-items ul li i {
    font-size: 18px;
    margin-right: 10px;
    color: #f921218f;
}

.banner-items ul li {
    margin-top: 10px;
    color: var(--describtionColor);
}

.header-btn-div {
    margin-top: 20px;
}

.red {
    background-image: var(--linear);
    margin-right: 10px;
    /* transition: all 0.5s linear; */
}
.red:hover{
    background-image: linear-gradient(90deg, #e63490ed 0%, #cd1574cf 100%);
}

.blue {
    background-color: #4EC5F7;
    transition: all 0.3s linear;
}
.blue:hover{
    background-color: #0e90c8e8;
}


/* main section related style */
/* gamer section */
.gamer-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
}

.gamer-image {
    width: 100%;
}

.gamer-image img {
    width: 100%;
}

.gamer-content {
    text-align: center;
}

.gamer-title {
    font-size: 40px;
    font-weight: 700;
}

.gamer-desc {
    color: var(--describtionColor);
    margin: 15px 0;
    line-height: 30px;
}

.gamer-btn {
    background-image: var(--linear);
    margin-bottom: 15px;
}
.gamer-btn:hover{
    background-image: linear-gradient(90deg, #e63490ed 0%, #cd1574cf 100%);
}

.gamer-moral span {
    display: block;
    font-weight: 500;

}

.gamer-moral {
    color: var(--describtionColor);
    font-weight: 700;
    font-size: 20px;
}

/* game video */
.game-video-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
    margin-top: 40px;
}

.game-video-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.game-video-header {
    text-align: center;
    margin-bottom: 20px;
}

.game-video-header-desc,.play-desc {
    color: var(--describtionColor);
}

.game-video-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 350px;
    border-radius: 15px 15px 5px 5px;
    /* border: 3px solid red; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    padding-bottom: 10px;
    overflow: hidden;
}
.card-image-container{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.card-image-container div{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #0b0223be;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.5s linear;
}
.card-image-container div img{
    width: 30px;
    height: 30px;
}
.card-image-container div i{
    color: white;
    font-size: 40px;
}
.card-image-container div p{
   color: #FF42A5;
   font-weight: 700;
   font-size: 20px;
}
.card-image-container:hover div{
    opacity: 1;
    /* box-shadow: #FF42A5 0px 0px 0px 2px, #ff42a49b 0px 4px 6px -1px, #ff42a419 0px 1px 0px inset; */
    border: 4px solid #ff42a4e0;
}
.card img {
    width: 100%;
    max-height: 550px;
}

.card p {
    padding: 15px;
    /* margin: 10px 0 0 10px; */
}


/* play section */
.play-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
    margin-top: 70px;
}

.play-image div {
    width: 300px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.play-image {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.play-image .small {
    position: absolute;
    left: -50px;
    bottom: -50px;

}


.play-image .big {
    width: 100%;
    border-radius: 5px;

}

.small {
    width: 150px;
    height: 170px;
    border-radius: 5px;
}

.play-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}
.play-content{
    text-align: center;
}

.play-online-container{
margin-top: 450px;
}

/* tag related style */
.tag-container{
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
     row-gap: 20px;
    padding: 20px 20px;
    margin-top: 370px;
}
.tag-content {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 50px;
    padding: 5px;
    justify-self: center;
    transition: all 0.1s linear;
    cursor: pointer;
}
.tag-content p{
    font-weight: 700;
    margin-left: 5px;
    color: var(--titleColor);
    font-size: 12px;
}
.tag-content img{
    width: 40px;
    height: 40px;
}
.tag-content:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
}
.tag-content:hover p{
    color: #FF42A5;
}

/* footer style */
.footer-container{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 70px;
    background: #0B0223;
    text-align: center;
}
.footer-content{
    width: 100%;
}
.footer-logo{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.footer-title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-title img{
    width: 50px;
    margin-right: 10px;
}
.footer-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}
.footer-link a:hover,.privacy a:hover{
    color: #F948B2;
}
.footer-link{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0px;
}
.footer-social{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px;
}
.footer-social svg{
 width: 30px;
 height: 30px;
}

.privacy a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.792);
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}
.privacy{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.792);
    margin-top: 40px;
    font-size: 16px;
}